---
import SiteLayout from '@layouts/SiteLayout.astro';
---

<SiteLayout>
  <div class="text-center flex flex-col items-center gap-8 py-16">
    <img class="bg-black rounded-full p-1" src="../assets/doggoconfused.gif" alt="Maiden and Spell T-Posing">
    <div class="prose">
      <h1>Unable to find page!</h1>
      <div class="italic">
        <h4>Expecting a page here?</h4>
        <p> UwU We made a fucky wucky!! A wittle
          fucko boingo! The code monkeys at our
          headquarters are working VEWY HAWD
          to fix this!
        </p>
      </div>
    </div>
    <a href="/" class="btn btn-primary">Back Home</a>
  </div>
</SiteLayout>
