<header class="sticky top-0 bg-base-300 bg-opacity-75 backdrop-blur z-50">
  <div class="navbar mx-auto max-w-4xl">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-3xl font-black normal-case">
        Mille's Corner
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/sandbird">Sand Bird</a></li>
      </ul>
    </div>
  </div>
</header>
